<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>CV Formatter - Registration</title>

		<!-- Bootstrap core CSS -->
		<link href = "{{ STATIC_URL }}bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href = "{{ STATIC_URL }}bootstrap-3.2.0-dist/css/signin.css" rel="stylesheet">
	</head>
	
	<body>
		<form>
			{{ registration_form.as_p }}
		</form>
	</body>
</html>